<!DOCTYPE html>
<html>
<head>
    <title>Automated Planner for Efficient Scheduling</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Alcantara, Bejarin, Salao, Seda">
    <link rel="icon" href="../../assets/my-notion-face-portrait.png"> <!-- Placeholder -->
    <link rel="stylesheet" href="../style.css">

    <!-- Font Imports -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav-container"></div>
    <div class="body-container"></div>
    <div class="footer-container"></div>
</body>
</html>