<div class="nav-container footer-container">
    <div>
        <span style="margin-right: 10px">Powered by</span>
        <span class="icomoon-free--html-five"></span>
        <span class="simple-icons--django"></span>
        <span class="cib--bootstrap"></span>
    </div>
    
    <div class="filler"></div>

    <div>
        <a href="https://github.com/pingu204/cs192-APES" target="_blank">
            <button><i style="margin-right: 2px" class="bi bi-github"></i> View on GitHub</button>
        </a>
        <a href="#" target="_blank">
            <button disabled><i style="margin-right: 2px" class="bi bi-arrow-up-right"></i> Send Feedback</button>
        </a>
        <span>Copyright © APES 2024. All Rights Reserved.</span>
    </div>
</div>