{% load static %}
<div class="nav-container landing">
    <!-- <div>
        <h1><i class="bi bi-circle-fill"></i>Branding</h1>
    </div> -->
    <span class="text-4xl">🌻</span>
    <!-- Placeholder Icon -->
    <div class="landing-buttons">
        <a href="#tos">
            <button class="d-none d-md-block btn-outline">Terms of Service</button>
        </a>
        <a href="#privacy">
            <button class="d-none d-md-block btn-outline">Privacy Policy</button>
        </a>
        <a href="#about-us">
            <button class="d-none d-md-block btn-outline">About Us</button>
        </a>
    </div>
    <div class="filler"></div>
    <div>
        <a href="#features">
            <button class="btn-dark-filled">Learn more about APES!</button>
        </a>
    </div>
</div>
