{% load static %}
<div class="flex items-center h-[60px] border-b-1 px-8 gap-2">
    <!-- <img class="h-[60px]" src="{% static 'images/apes_logo.png' %}"> -->
    <!-- Placeholder Icon -->
    <div>
        <span class="app-title text-xl font-bold">🌻 UPD Schedule Planner</span>
    </div>
    <div class="filler"></div>
    <div>
        <span>Version 1.4.0</span>
    </div>
    <div>
        <button type="button"
                class="btn-outline"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">Changelog</button>
    </div>
</div>
