<div class="nav-container landing">
    <!-- <div>
        <h1><i class="bi bi-circle-fill"></i>Branding</h1>
    </div> -->
    <div><i class="logo bi bi-circle-fill"></i></div> <!-- Placeholder Icon -->
    
    <div class="landing-buttons">
        <a href="#tos"><button class="btn-outline">Terms of Service</button></a>
        <a href="#privacy"><button class="btn-outline">Privacy Policy</button></a>
        <a href="#about-us"><button class="btn-outline">About Us</button></a>
    </div>

    <div class="filler"></div>
    
    <div>
        <a href="#features"><button class="btn-dark-filled">Learn more about APES!</button></a>
    </div>
</div>