{% load static %}
<div class="nav-container">
    <!-- <div>
        <h1><i class="bi bi-circle-fill"></i>Branding</h1>
    </div> -->
    <div>
        <img class="apes-logo" src="{% static 'images/apes_logo.png' %}">
    </div>
    <!-- Placeholder Icon -->
    <div>
        <span class="app-title">Automated Planner for Efficient Scheduling</span>
    </div>
    <div class="filler"></div>
    <div>
        <span>Version 1.4.0</span>
    </div>
    <div>
        <button type="button"
                class="btn-outline"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">Changelog</button>
    </div>
</div>
