{% extends 'base.html' %}

{% block nav %}

    {% include 'nav_main.html' %}

{% endblock %}

{% block content %}

    <div class="body-container homepage">
        <div class="user-header">
            <h2> 
                Welcome, 
                <span>
                    {% if user.is_authenticated %} {{user.username}}
                    {% else %} Guest
                    {% endif %}
                </span>! 
                
            </h2>
            <span class="sign-out fluent-emoji--waving-hand"></span>
            {% if user.is_authenticated %}
                <form method="POST" action="{% url 'logout_view' %}">
                    {% csrf_token %}
                    <button type="submit" class="sign-out btn-outline">
                        Sign Out
                    </button>
                </form> 
            {% else %} 
                <button class="sign-out btn-outline">
                    <a href="{% url 'login_view' %}">Sign In</a>
                </button>
            {% endif%}
            
            <div class="filler"></div>

            <h6>1st Semester, A.Y. 2024-2025</h6>
        </div>
        
        <div class="main margin-top-md">
            <div class="course-list-container">
                <div class="course-list-header">
                    <h1>Desired Classes</h1>
                    <div class="filler"></div>
                    <div style="display: flex; gap: 3px; align-items: center;">
                        <form action="{% url 'homepage_view' %}" method="POST" id="clearDCP">
                            {% csrf_token %}    
                            <button class="btn-sm" type="button" id="submitClear">CLEAR</button>
                        </form>

                        <button class="btn-sm"><a href="add/">+</a></button>
                    </div>
                </div>
                {% if dcp_length == 1%}
                <h5>{{ dcp_units }} UNITS<i class="bi bi-dot"></i><span class="light-text">{{ dcp_length }} CLASS</span></h5>
                {% else %}
                <h5>{{ dcp_units }} UNITS<i class="bi bi-dot"></i><span class="light-text">{{ dcp_length }} CLASSES</span></h5>
                {% endif %}
                <div class="flex-grow-container">
                    {% if not dcp %}

                        <div class="course-card blank"></div>
                        <div class="course-card blank"></div>
                        <div class="course-card blank"></div>
                        <p class="dcp-description">Your desired classes will appear here! These classes will be processed by the system to create schedules where none of them would overlap with each other.<br><br>Click on the <i class="bi bi-plus-circle"></i> button to get started!</p>

                    {% else %}

                        {% for course in dcp %}
                        <div class="course-card">
                            <div class="course-header">
                                <h6><b>{{ course.course_code }}</b><i class="bi bi-dot"></i><span class="light-text">{{ course.units }} Units</span></h6>
                                <div class="filler"></div>
                                <form method="POST" id="removeCourse">
                                    {% csrf_token %}
                                    <button id="{{course.course_code}}" type="button" class="removeCourseSubmit btn-outline btn-round remove-unique-dcp-btn" name="removed_course" value="{{ course.course_code }}">
                                        <i class="bi bi-x-lg"></i>
                                    </button>
                                </form>
                            </div>
                            <h4>{{ course.course_title }}</h4>
                        </div> 
                        <div class="removeCourseOverlay" id="remove-{{course.course_code}}">
                            <div id="inner-overlay">
                                <form method="POST">
                                {% csrf_token %} 
                                <h6>Delete this class?</h6>
                                    <button class="btn-sm" name="removed_course" id="removeYes" value="{{ course.course_code }}">Yes</button>
                                    <button class="btn-sm" id="removeNo">No</button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                        

                    {% endif %}
                    
                    <!-- Template for class card
                    
                    <div class="course-card">
                        <div class="course-header">
                            <h6><b>Class Code</b><i class="bi bi-dot"></i><span class="light-text">Units</span></h6>
                            <div class="filler"></div>
                            <h6><i class="bi bi-x-circle"></i></h6>
                        </div>
                        <h4>Course Title Course Title Course Title Course Title</h4>
                    </div> 
                    
                    -->
                    
                </div>
                <div></div>
            </div>
            <div class="vr"></div> <!-- Divider -->
            <div class="sched-container">
                <div class="course-list-header">
                    <h1>Schedules</h1>
                    <form action="{% url 'homepage_view' %}" method="POST">
                        {% csrf_token %}    
                        <button class="btn-sm generate" name ="generate_permutation" >GENERATE</button>
                    </form>
                    
                    <div class="filler">
                        <p>
                            The generated schedules will appear here once your desired classses have been processed. Try clicking the 'Generate' button once you've added classes!
                        </p>
                        
                    </div>
                </div>
                <div class="flex-grow-container margin-top-md">
                    <div class="sched-list-container">
                        <div class="course-card sched-card saved">
                            <div class="course-header padding-sm">
                                <div class="day margin-right-xs">M</div>
                                <div class="day day-filled margin-right-xs">T</div>
                                <div class="day day-filled margin-right-xs">W</div>
                                <div class="day day-filled margin-right-xs">H</div>
                                <div class="day day-filled margin-right-xs">F</div>
                                <div class="day margin-right-xs">S</div>
                                <div class="filler"></div>
                                <i class="bi bi-bookmark-fill"></i>
                            </div>
                            <div class="padding-md tabs-container">
                                <h4>Sched 02</h4>
                                <div><span class="tab bold-text"><i class="bi bi-person-walking color-icon"></i>0 kilometers/day</span></div>
                                <div><span class="tab bold-text"><i class="bi bi-dice-2-fill color-icon"></i>0% chance of being granted</span></div>
                                <div><span class="tab bold-text"><i class="bi bi-cup-hot-fill color-icon"></i>0-min. to 0-hour breaks</span></div>
                                <div><span class="tab bold-text"><i class="bi bi-calendar-week-fill color-icon"></i>0 to 0 classes/day</span></div>
                                <div><span class="tab bold-text"><i class="bi bi-brightness-high-fill color-icon"></i>As early as 00:00 AM</span></div>
                                <div><span class="tab bold-text"><i class="bi bi-moon-fill color-icon"></i>As late as 00:00 PM</span></div>
                            </div>
                        </div>
                        <a href="view/1/">
                        <div class="course-card sched-card">
                            <div class="course-header padding-sm">
                                <div class="day margin-right-xs">M</div>
                                <div class="day day-filled margin-right-xs">T</div>
                                <div class="day day-filled margin-right-xs">W</div>
                                <div class="day day-filled margin-right-xs">H</div>
                                <div class="day day-filled margin-right-xs">F</div>
                                <div class="day margin-right-xs">S</div>
                                <div class="filler"></div>
                                <i class="bi bi-bookmark"></i>
                                <!-- <i class="bi bi-bookmark-fill"></i> -->
                            </div>
                            <div class="padding-md tabs-container">
                                <h4>Sched 01</h4>
                                <div><span class="tab bold-text"><i class="bi bi-person-walking color-icon"></i>0 kilometers/day</span></div>
                                <div><span class="tab bold-text"><i class="bi bi-dice-2-fill color-icon"></i>0% chance of being granted</span></div>
                                <div><span class="tab bold-text"><i class="bi bi-cup-hot-fill color-icon"></i>0-min. to 0-hour breaks</span></div>
                                <div><span class="tab bold-text"><i class="bi bi-calendar-week-fill color-icon"></i>0 to 0 classes/day</span></div>
                                <div><span class="tab bold-text"><i class="bi bi-brightness-high-fill color-icon"></i>As early as 00:00 AM</span></div>
                                <div><span class="tab bold-text"><i class="bi bi-moon-fill color-icon"></i>As late as 00:00 PM</span></div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
    </div>
    
    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <!-- Confirmation Overlay -->
    <div id="overlay" onclick="overlayOff()">
        <div id="inner-overlay">
            <div id="close" onclick="overlayOff()"><i class="bi-x-circle"></i></div>
            <div id="overlay-text">
                <h6>{{ message }}</h6>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <div id="clearOverlay">
        <div id="inner-overlay">
            <form method="POST">
            {% csrf_token %} 
            <h6>Clear all Desired Classes?</h6>
                <button class="btn-sm" name="clear_dcp" id="clearYes">Yes</button>
                <button class="btn-sm" id="clearNo">No</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block footer %}

    {% include 'footer.html' %}

{% endblock %}