{% extends 'base.html' %}
{% block nav %}
    {% include 'nav_main.html' %}
{% endblock %}
{% block content %}
    <div class="w-full flex flex-col h-[calc(100vh-60px)] py-6 px-16 overflow-y-hidden bg-gray-100/50">
        <!-- User Header -->
        <!-- <div class="flex items-center gap-2 border-b-1 pb-2">
            <span class="text-lg font-medium">
                Over naman sa plan,
                <span>
                    {% if user.is_authenticated %}
                        {{ user.username }}
                    {% else %}
                        Guest
                    {% endif %}
                </span>!🙎
            </span>
            {% if user.is_authenticated %}
                <form method="POST" action="{% url 'logout_view' %}">
                    {% csrf_token %}
                    <button type="submit" class="">Sign Out</button>
                </form>
            {% else %}
                <a href="{% url 'login_view' %}">
                    <button class="px-2 py-1 border-1 rounded rounded-md bg-black text-white hover:opacity-50">
                        Sign In
                    </button>
                </a>
            {% endif %}
            <div class="flex-grow"></div>
            <i class="text-lg bi bi-calendar2-week-fill"></i>
            <span class="text-lg font-bold">1st Semester, A.Y. 2025-2026</span>
        </div> -->
        <div class="grid grid-cols-4 flex-grow gap-4 pt-2">
            {% include 'components/dcp.html' %}
            <!-- <div class="vr"></div> -->
            <div class="col-span-3 flex flex-col flex-grow overflow-y-hidden gap-2 bg-white border-1 border-gray-400 p-4 rounded-xl shadow-md">
                <!-- Header for Filters Section -->
                <!-- <div class="flex items-center gap-2">
                    <span class="text-lg m-0">
                        <span class="bold-text">Filters</span>
                    </span>
                    <form action="{% url 'homepage_view' %}"
                          method="POST"
                          id="resetPreferences">
                        {% csrf_token %}
                        <button class="btn-sm generate load-button" name="reset_preferences">RESET</button>
                    </form>
                    <a href="./preferences/">
                        <button class="btn-sm generate load-button" name ="modify_filters">MODIFY</button>
                    </a>
                </div> -->
                <!-- Subtitle -->
                <!-- <div>
                    <p>The generated schedules below will be sorted and filtered according to the enabled preferences:</p>
                </div> -->
                <!-- Container for Filters -->
                <!-- <div class="tabs-container">
                    <a href="./preferences/">
                        <div>
                            {% if session.preferences.number_of_classes %}
                                <span class="tab tab-outline"><i id="i-1" class="bi bi-circle-fill"></i> <span class="bold-text">MAXIMUM NUMBER OF CLASSES PER DAY</span><i class="bi bi-dot"></i>{{ session.preferences.number_of_classes }}</span>
                            {% else %}
                                <span class="tab tab-outline disabled"><i id="i-1" class="bi bi-circle-fill disabled"></i> <span class="bold-text">MAXIMUM NUMBER OF CLASSES PER DAY</span><i class="bi bi-dot"></i>Filter not set</span>
                            {% endif %}
                        </div>
                        <div>
                            {% if session.preferences.class_days %}
                                <span class="tab tab-outline"><i id="i-2" class="bi bi-circle-fill"></i> <span class="bold-text">CLASS DAYS</span><i class="bi bi-dot"></i>{{ session.preferences.class_days|join:" " }}</span>
                            {% else %}
                                <span class="tab tab-outline disabled"><i id="i-2" class="bi bi-circle-fill disabled"></i> <span class="bold-text">CLASS DAYS</span><i class="bi bi-dot"></i>Filter not set</span>
                            {% endif %}
                        </div>
                        <div>
                            {% if session.preferences.total_distance_per_day %}
                                <span class="tab tab-outline"><i id="i-3" class="bi bi-circle-fill"></i> <span class="bold-text">TOTAL DISTANCE PER DAY</span><i class="bi bi-dot"></i>at most {{ session.preferences.total_distance_per_day }} km</span>
                            {% else %}
                                <span class="tab tab-outline disabled"><i id="i-3" class="bi bi-circle-fill disabled"></i> <span class="bold-text">TOTAL DISTANCE PER DAY</span><i class="bi bi-dot"></i>Filter not set</span>
                            {% endif %}
                        </div>
                        <div>
                            {% if session.preferences.total_probability %}
                                <span class="tab tab-outline"><i id="i-4" class="bi bi-circle-fill"></i> <span class="bold-text">TOTAL PROBABILITY</span><i class="bi bi-dot"></i>{{ session.preferences.total_probability }}%</span>
                            {% else %}
                                <span class="tab tab-outline disabled"><i id="i-4" class="bi bi-circle-fill disabled"></i> <span class="bold-text">TOTAL PROBABILITY</span><i class="bi bi-dot"></i>Filter not set</span>
                            {% endif %}
                        </div>
                        <div>
                            {% if session.preferences.earliest_time_display and session.preferences.latest_time_display %}
                                <span class="tab tab-outline"><i id="i-5" class="bi bi-circle-fill"></i> <span class="bold-text">CLASS TIMES</span><i class="bi bi-dot"></i>{{ session.preferences.earliest_time_display }} - {{ session.preferences.latest_time_display }}</span>
                            {% else %}
                                <span class="tab tab-outline disabled"><i id="i-5" class="bi bi-circle-fill disabled"></i> <span class="bold-text">CLASS TIMES</span><i class="bi bi-dot"></i>Filter not set</span>
                            {% endif %}
                        </div>
                        <div>
                            {% if session.preferences.min_break_display and session.preferences.max_break_display and session.preferences.min_break > 0 or session.preferences.max_break > 0 %}
                                <span class="tab tab-outline"><i id="i-6" class="bi bi-circle-fill"></i> <span class="bold-text">BREAK DURATION</span><i class="bi bi-dot"></i>{{ session.preferences.min_break_display }} - {{ session.preferences.max_break_display }}</span>
                            {% else %}
                                <span class="tab tab-outline disabled"><i id="i-6" class="bi bi-circle-fill disabled"></i> <span class="bold-text">BREAK DURATION</span><i class="bi bi-dot"></i>Filter not set</span>
                            {% endif %}
                        </div>
                    </a>
                </div> -->
                <!-- Header for Schedule Section -->
                <div class="flex gap-2 items-center">
                    <span class="text-2xl font-bold">Schedules</span>
                    <form action="{% url 'homepage_view' %}" method="POST">
                        {% csrf_token %}
                        <button class="btn-sm generate load-button" name ="generate_permutation">GENERATE</button>
                    </form>
                    <div class="flex-grow"></div>
                    <div class="flex gap-2 text-gray-400">
                        <i class="bi bi-info-circle-fill"></i>
                        <p>
                            The generated schedules will appear here once your desired classses have been processed.
                        </p>
                    </div>
                </div>
                <!-- Container for Generated Schedules -->
                <div class="flex-grow h-[1px] overflow-y-auto pt-2">
                    <div class="w-full grid grid-cols-2 gap-3">
                    {% for schedule, class_days, stats in saved_schedules %}
                        <a href="{% url 'view_saved_sched_view' schedule.sched_id %}">
                            {% include 'components/sched_card.html' with saved=True %}
                        </a>
                    {% endfor %}
                    {% for schedule, class_days in generated_schedules %}
                        <a href="{% url 'view_sched_view' schedule.sched_id %}">
                            {% include 'components/sched_card.html' with stats=schedule.stats saved=False %}
                        </a>
                    {% endfor %}
                    </div>
                </div>
                <!-- <div class="grid grid-cols-2 gap-3 flex-grow overflow-y-auto pt-2">
                    
                </div> -->
            </div>
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <!-- Confirmation Overlay -->
                <div id="overlay" onclick="overlayOff()">
                    <div id="confirmation-inner-overlay">
                        <div id="close" onclick="overlayOff()">
                            <i class="bi-x-circle"></i>
                        </div>
                        <div id="overlay-text">
                            <h6>{{ message }}</h6>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div id="clearOverlay">
        <div id="inner-overlay">
            <form method="POST">
                {% csrf_token %}
                <h6>Clear all Desired Classes?</h6>
                <button class="btn-sm" name="clear_dcp" id="clearYes">Yes</button>
                <button class="btn-sm" id="clearNo">No</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <!-- {% include 'footer.html' %} -->
{% endblock %}
