{% extends 'base.html' %}
{% load static %}
{% block nav %}

    {% include 'nav_landing.html' %}

{% endblock %}

{% block content %}

    <div class="body-container landing">
        <div class="title-page">
            <div class="apes-tabs">
                <img class="apes-tabs" src="{% static 'images/apes_tabs.png' %}">
            </div>
            <div class="right">
                <div class="apes-description">
                    <h1><span class="swoosh-text">Stress-Free</span><br>Scheduling.</h1>
                    <div class="description">
                        <p>APES is a web-based schedule planner software that allows the students of the University of the Philippines—Diliman (UPD) to curate efficient timetables that suit their needs and preferences.</p>

                        <div class="buttons">
                            <button class="btn btn-landing-filled"><a href="login/">Login <i class="bi bi-arrow-right"></i></a></button>
                            <button class="btn btn-landing"><a href="register/">Sign Up</a></button>

                            <span>OR</span> 
                            <!--Guest log-ins are treated as POST methods since user data is saved per session; data flushed upon session termination-->
                            <h6>
                                <a class="guest-login" href="#" onclick="document.getElementById('guest-login-form').submit(); return false;">
                                    Continue as Guest
                                </a>
                            </h6>
                            <form id="guest-login-form" action="{% url 'guest_login_view' %}" method="POST">
                                {% csrf_token %}
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="landing-container" id="features">
            <div>
                <hr>
                <h6>THE FEATURES</h6>
                <h1>Plan your semester <span>with ease</span></h1>
                <div class="apes-features">
                    <div>
                        <img src="{% static 'images/features_1.png' %}">
                        <h5>Instant Schedules</h5>
                        <p>With your given set of needed classes for the semester, creating different schedules with no overlapping classes is now one click away!</p>
                    </div>
                    <div>
                        <img src="{% static 'images/features_1.png' %}">
                        <h5>Filter Schedules</h5>
                        <p>Like everything about a schedule but that one class? You can easily find a new time slot for it to ensure that you’re living the best college life.</p>
                    </div>
                    <div>
                        <img src="{% static 'images/features_1.png' %}">
                        <h5>Save Scheds for Later</h5>
                        <p>Should you wish to consider different schedules for the semester, you can save them for later and even modify them according to your liking!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="landing-container" id="tos">
            <div>
                <hr>
                <h6>TERMS OF SERVICE</h6>
                <h1>What to <span>expect</span> from us</h1>
                <div class="apes-features apes-tos">
                    <div>
                        <h5>Affiliations with UP Diliman and CRS</h5>
                        <p>APES is an independent tool created to assist students at the University of the Philippines—Diliman (UPD) in efficiently organizing their schedules. While APES uses data from the Computerized Registration System (CRS) through its official API, it is not affiliated with or endorsed by UPD. APES simply integrates this data to help students build a timetable tailored to their preferences and constraints. Users should be aware that APES’s schedule recommendations are based on CRS data and do not guarantee enrollment in specific classes.</p>
                    </div>
                    <div>
                        <h5>Limitations of the Software</h5>
                        <p>APES aims to generate optimized schedules based on user preferences—such as earliest start time, latest end time, and specific class exclusions—while resolving scheduling conflicts as best as possible. However, APES does not ensure successful registration in any given class, as it cannot influence the CRS system’s allocation. Users should view the generated schedules as guides and refer to CRS for official course registration and final confirmation of class assignments.</p>
                    </div>
                    <div>
                        <h5>Use License</h5>
                        <p>APES is a web-based scheduling tool offered exclusively for UPD students to support their course planning. By using APES, users agree to access it solely for personal schedule management purposes. Redistribution, modification, or commercial use of APES software or data is prohibited. APES reserves the right to update its terms of use as needed, and continued use implies acceptance of these updates. The APES team may introduce new features or improvements, and users should review any changes to the terms regularly.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="landing-container apes-privacy">
            h
        </div>
        <div class="landing-container apes-devs">
            h
        </div>
    </div>

{% endblock %}