{% extends 'base.html' %}

{% block nav %}

    {% include 'nav_main.html' %}

{% endblock %}

{% block content %}

{% load static %}

<div class="body-container homepage sched-viewer">
    <div class="main two-column">

    <div class="sched-container">
        <!-- Container for the timetable -->
        <div class="timetable">
            <table class="time_table" id="timetable">
                {{ main_table | safe }}
            </table>
            {% for table in timetables %}
            <table class="time_table" id="table-{{forloop.counter}}" style="display:none;">
                {{ table | safe }}
            </table>
            {% endfor %}
        </div>
    </div>

    
    <div class="course-list-container">
        <div class="form-body login dcp" style="padding: 30px">
            <div class="course-list-header">
                <h1 style="font-size: 2em;">Redraw Class</h1>
                <div class="filler"></div>
                <span class="bold-text small"><a href="../../"><i class="bi bi-caret-left-fill"></i> Go Back</a></span>
            </div>
            <div class="form-row">
                <label class="form-label">PICK A NEW SECTION FOR</label>
                <input class="form-control" type="text" value="{{course_code}}" disabled readonly>
                <span class="form-text">
                    Hover over each of the section block to have a glimpse of your sched!
                </span>
            </div>

            {% if messages %}
                <div class="errors">
                    <ul class="errors-list">
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <li><i class="bi bi-exclamation-circle"></i> {{ message }}</li>
                            {% else %}
                                <li class="success-message"><i class="bi bi-check-circle"></i> {{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if form.errors %}
            <div class="errors">
                <ul class="errors-list">
                    {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li><i class="bi bi-exclamation-circle"></i> {{ errors.0|escape }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        
        {% if schedule_permutations|length == 1 %}
            <h6>{{ schedule_permutations|length }} RESULT</h6>
        {% else %}
            <h6>{{ schedule_permutations|length }} RESULTS</h6>
        {% endif %}
        
        <div class="filler result-container flex-grow-container">
            {% for section, timeslot in redrawn_scheds %}
                <div class="result-card" id="{{forloop.counter}}">
                    <div>
                        <div class="mb-2">
                            {% if section.class_days.lec %}
                            <span class="tab tab-sm"><span class="bold-text">{{section.class_days.lec}}</span> {{timeslot.lec}}</span>
                            {% endif %}

                            {% if section.class_days.lab %}
                            <span class="tab tab-sm"><span class="bold-text">{{section.class_days.lab}}</span> {{timeslot.lab}}</span> 
                            {% endif %}

                            {% if section.class_days.disc %}
                            <span class="tab tab-sm"><span class="bold-text">{{section.class_days.disc}}</span> {{timeslot.disc}}</span>
                            {% endif %}
                        </div>
                        
                        <h5>{{ section.course_code }} {{ section.section_name.lec }}{% if section.section_name.lab %}/{{ section.section_name.lab }}{% endif %}<i class="bi bi-dot"></i><span class="bold-text">Desired by {{section.demand}} people</span></h5>

                        {% if section.instructor_name.lec %}
                        <h5><span class="light-text">{{section.instructor_name.lec | title}}</span></h5>
                        {% endif %}

                        {% if section.instructor_name.lab %}
                        <h5><span class="light-text">{{section.instructor_name.lab | title}} <i class="bi bi-gear"></i></span></h5>
                        {% endif %}

                        {% if section.instructor_name.disc %}
                        <h5><span class="light-text">{{section.instructor_name.disc | title}}</span></h5>
                        {% endif %}
                    </div>
                    <div class="filler"></div>
                    <form method="POST" action="{% url 'redraw_course_to_sched' sched_id=sched_id course_code=section.course_code %}">
                        {% csrf_token %}
                        <input type="hidden" name="course_data" value="{{ section }}">
                        <div>
                            <button type="submit" class="btn btn-primary load-button">Choose</button>
                        </div>
                    </form>
                </div>
                {% empty %}
                <div class="result-card">
                    <div>
                        <h5>No results found.</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
    
    </div>

</div>

{% endblock %}

{% block footer %}

    <!-- {% include 'footer.html' %} -->

{% endblock %}


{% block addtl_scripts %}

<script type="module" type="text/javascript" src="{% static 'js/add_to_sched.js' %}"></script>

{% endblock %}