{% extends 'base.html' %}
{% block nav %}
    {% include 'nav_main.html' %}
{% endblock %}
{% block content %}
    {% load static %}
    <div class="w-full h-[calc(100vh-60px)] grid grid-cols-[auto_35%] gap-4 py-6 px-16 bg-gray-100/50">
        {% include 'components/timetable.html' %}
        <div class="flex flex-col">
            <div class="flex items-center">
                <span class="text-2xl font-bold">Add to Schedule</span>
                <div class="flex-grow"></div>
                <span class="font-bold"><a href="../"><i class="bi bi-caret-left-fill"></i> Go Back</a></span>
            </div>
            <form method="GET" onsubmit="showLoading()">
                <div class="form-row">
                    <div class="col">
                        <label class="form-label mt-4 mb-2" for="id_course_code">{{ form.course_code.label | upper }}</label>
                        <div class="input-wrapper">
                            {{ form.course_code }}
                            <button type="submit load-button" class="search-btn">
                                <svg width="20"
                                        height="20"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="black"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                </svg>
                            </button>
                        </div>
                        <span class="form-text">
                            Search for <b>specific</b> course codes (e.g. 'Eng 13' instead of just 'Eng')
                        </span>
                    </div>
                </div>
            </form>
            {% if messages %}
                <div class="errors">
                    <ul class="errors-list">
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <li>
                                    <i class="bi bi-exclamation-circle"></i> {{ message }}
                                </li>
                            {% else %}
                                <li class="success-message">
                                    <i class="bi bi-check-circle"></i> {{ message }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if form.errors %}
                <div class="errors">
                    <ul class="errors-list">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>
                                    <i class="bi bi-exclamation-circle"></i> {{ errors.0|escape }}
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <!-- Results -->
            {% if search_results|length %}
                <span class="font-bold text-gray-500">{{ search_results|length }} RESULT{% if search_results|length != 1 %}S{% endif %}</span>
            {% endif %}
            <div class="mt-4 filler flex flex-col h-[1px] flex-grow overflow-y-auto bg-white rounded-lg border-1 border-gray-400 shadow-md p-3 [&>p]:pt-0">
                <span class="text-lg font-bold text-gray-400">Search Results</span>
                {% for section, timeslot in search_results %}
                    {% include 'components/course_to_add.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <!-- {% include 'footer.html' %} -->
{% endblock %}
{% block addtl_scripts %}
    <script type="module"
            type="text/javascript"
            src="{% static 'js/add_to_sched.js' %}"></script>
{% endblock %}
