{% extends 'base.html' %}
{% block nav %}
    {% include 'nav_main.html' %}
{% endblock %}
{% block content %}
    {% load static %}
    <div class="w-full h-[calc(100vh-60px)] grid grid-cols-[auto_35%] gap-4 py-6 px-16 bg-gray-100/50">
        {% include 'components/timetable.html' %}
        <div class="flex flex-col">
            <div class="flex items-center">
                <span class="text-2xl font-bold">Add to Schedule</span>
                <div class="flex-grow"></div>
                <span class="font-bold"><a href="../../"><i class="bi bi-caret-left-fill"></i> Go Back</a></span>
            </div>
            <form method="GET" onsubmit="showLoading()">
                <div class="form-row">
                    <label class="form-label mt-4 mb-2">PICK A NEW SECTION FOR</label>
                    <input class="form-control"
                            type="text"
                            value="{{ course_code }}"
                            disabled
                            readonly>
                    <span class="form-text">Hover over each of the section block to have a glimpse of your sched!</span>
                </div>
            </form>
            {% if messages %}
                <div class="errors">
                    <ul class="errors-list">
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <li>
                                    <i class="bi bi-exclamation-circle"></i> {{ message }}
                                </li>
                            {% else %}
                                <li class="success-message">
                                    <i class="bi bi-check-circle"></i> {{ message }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if form.errors %}
                <div class="errors">
                    <ul class="errors-list">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>
                                    <i class="bi bi-exclamation-circle"></i> {{ errors.0|escape }}
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <!-- Results -->
            {% if search_results|length %}
                <span class="font-bold text-gray-500">{{ search_results|length }} RESULT{% if search_results|length != 1 %}S{% endif %}</span>
            {% endif %}
            <div class="mt-4 filler flex flex-col h-[1px] flex-grow overflow-y-auto bg-white rounded-lg border-1 border-gray-400 shadow-md p-3 [&>p]:pt-0">
                <span class="text-lg font-bold text-gray-400">Search Results</span>
                {% for section, timeslot in redrawn_scheds %}
                    {% include 'components/course_to_redraw.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <!-- {% include 'footer.html' %} -->
{% endblock %}
{% block addtl_scripts %}
    <script type="module"
            type="text/javascript"
            src="{% static 'js/add_to_sched.js' %}"></script>
{% endblock %}
