{% extends 'base.html' %}

{% block nav %}

    {% include 'nav_main.html' %}

{% endblock %}

{% block content %}

{% load static %}

<div class="body-container homepage sched-viewer">
    <div class="main two-column">

    <div class="sched-container">
        <div class="timetable">
            <table>
                <tr><th></th><th>MONDAY</th><th>TUESDAY</th><th>WEDNESDAY</th><th>THURSDAY</th><th>FRIDAY</th><th>SATURDAY</th></tr>
                <tr class="bound"><th>07:00 AM</th><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr class="bound"><th>08:00 AM</th><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td id="td-6" class="rowspanned" rowspan="6.0"><b>CS 180 THR</b><br>08:30 AM - 10:00 AM<br>AECH</td><td></td><td id="td-6" class="rowspanned" rowspan="6.0"><b>CS 180 THR</b><br>08:30 AM - 10:00 AM<br>AECH</td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td></tr>
                <tr class="bound"><th>09:00 AM</th><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td></tr>
                <tr class="bound"><th>10:00 AM</th><td></td><td id="td-5" class="rowspanned" rowspan="8.0"><b>CS 192 TDE2/HUV2</b><br>10:00 AM - 12:00 PM<br>AECH</td><td id="td-3" class="rowspanned" rowspan="6.0"><b>LIS 51 WFU</b><br>10:00 AM - 11:30 AM<br>SOLAIR</td><td id="td-5" class="rowspanned" rowspan="12.0"><b>CS 192 lab TDE2/HUV2</b><br>10:00 AM - 01:00 PM<br>AECH</td><td id="td-3" class="rowspanned" rowspan="6.0"><b>LIS 51 WFU</b><br>10:00 AM - 11:30 AM<br>SOLAIR</td><td></td></tr>
                <tr><th></th><td></td><td></td></tr>
                <tr><th></th><td></td><td></td></tr>
                <tr><th></th><td></td><td></td></tr>
                <tr class="bound"><th>11:00 AM</th><td id="td-4" class="rowspanned" rowspan="12.0"><b>CS 145 lab HONOR 2</b><br>11:00 AM - 02:00 PM<br>TL2</td><td></td></tr>
                <tr><th></th><td></td></tr>
                <tr><th></th><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td></tr>
                <tr class="bound"><th>12:00 PM</th><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td></tr>
                <tr class="bound"><th>01:00 PM</th><td id="td-1" class="rowspanned" rowspan="6.0"><b>CS 153 THW</b><br>01:00 PM - 02:30 PM<br>AECH</td><td id="td-2" class="rowspanned" rowspan="6.0"><b>CS 132 WFW</b><br>01:00 PM - 02:30 PM<br>AECH</td><td id="td-1" class="rowspanned" rowspan="6.0"><b>CS 153 THW</b><br>01:00 PM - 02:30 PM<br>AECH</td><td id="td-2" class="rowspanned" rowspan="6.0"><b>CS 132 WFW</b><br>01:00 PM - 02:30 PM<br>AECH</td><td></td></tr>
                <tr><th></th><td></td></tr>
                <tr><th></th><td></td></tr>
                <tr><th></th><td></td></tr>
                <tr class="bound"><th>02:00 PM</th><td></td><td></td></tr>
                <tr><th></th><td></td><td></td></tr>
                <tr><th></th><td></td><td id="td-4" class="rowspanned" rowspan="6.0"><b>CS 145 HONOR</b><br>02:30 PM - 04:00 PM<br>Accenture</td><td></td><td id="td-4" class="rowspanned" rowspan="6.0"><b>CS 145 HONOR</b><br>02:30 PM - 04:00 PM<br>Accenture</td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td></tr>
                <tr class="bound"><th>03:00 PM</th><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td></tr>
                <tr class="bound"><th>04:00 PM</th><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr class="bound"><th>05:00 PM</th><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr class="bound"><th>06:00 PM</th><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr class="bound"><th>07:00 PM</th><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            </table>
        </div>
    </div>


    <div class="course-list-container">
        <div class="user-header">
            <h2 class="margin-right-sm"><span class=bold-text>Sched {{ sched_id }}</span></h2>
            <button class="btn-sm margin-right-xs">SAVE</button>
            <button class="btn-sm">EXPORT</button>
            <div class="filler"></div>
            <span class="bold-text"><a href="../../"><i class="bi bi-caret-left-fill"></i> Back to Schedules</a></span>
        </div>

        <div class="tabs-container margin-top-md margin-bottom-md">
            <div><span class="tab bold-text"><i class="bi bi-person-walking color-icon"></i>0 kilometers/day</span></div>
            <div><span class="tab bold-text"><i class="bi bi-dice-2-fill color-icon"></i>0% chance of being granted</span></div>
            <div><span class="tab bold-text"><i class="bi bi-cup-hot-fill color-icon"></i>0-min. to 0-hour breaks</span></div>
            <div><span class="tab bold-text"><i class="bi bi-calendar-week-fill color-icon"></i>0 to 0 classes/day</span></div>
            <div><span class="tab bold-text"><i class="bi bi-brightness-high-fill color-icon"></i>As early as 00:00 AM</span></div>
            <div><span class="tab bold-text"><i class="bi bi-moon-fill color-icon"></i>As late as 00:00 PM</span></div>
        </div>
        <div class="course-list-header">
            <h1 style="font-size:16pt;">Classes & Sections</h1>
            <div class="filler"></div>
            <h5 style="font-size:12pt; margin:0"><span class="bold-text light-text">0 units</span></h5>
            <button class="btn-sm"><a href="add/">+</a></button>
        </div>
        <div class="flex-grow-container margin-top-md">
            <div class="course-card view-card">
                <div class="course-header">
                    <h6><span class="bold-text"><span id="i-1"><i class="bi bi-circle-fill color-icon"></i></span>Course Code</span></h6>
                    <div class="filler"></div>
                    <span class="tab tab-sm bold-text">0% chance of being granted</span>
                </div>
                <div class="details-container margin-top-md">
                    <div><i class="bi bi-person color-icon"></i> Professor Name</div>
                    <div><i class="bi bi bi-book color-icon"></i> 0 units</div>
                    <div><i class="bi bi bi-door-closed color-icon"></i> 0 students max.</div>
                    <div><i class="bi bi bi-mortarboard color-icon"></i> Offering Unit</div>
                </div>
                <div class="d-flex margin-top-md">
                    <div class="filler"></div>
                    <button class="btn-sm" disabled>REMOVE</button>
                    <button class="btn-sm margin-left-sm" disabled>REDRAW</button>
                </div>
            </div>
            <div class="course-card view-card">
                <div class="course-header">
                    <h6><span class="bold-text"><span id="i-2"><i class="bi bi-circle-fill color-icon"></i></span>Course Code</span></h6>
                    <div class="filler"></div>
                    <span class="tab tab-sm bold-text">0% chance of being granted</span>
                </div>
                <div class="details-container three-column margin-top-md">
                    <div><i class="bi bi-person color-icon"></i> Professor Name</div>
                    <div><i class="bi bi bi-book color-icon"></i> 0 units</div>
                    <div><i class="bi bi bi-door-closed color-icon"></i> 0 students max.</div>
                    <div><i class="bi bi bi-mortarboard color-icon"></i> Offering Unit</div>
                </div>
                <div class="d-flex margin-top-md">
                    <div class="filler"></div>
                    <button class="btn-sm" disabled>REMOVE</button>
                    <button class="btn-sm margin-left-sm" disabled>REDRAW</button>
                </div>
            </div>
            <div class="course-card view-card">
                <div class="course-header">
                    <h6><span class="bold-text"><span id="i-3"><i class="bi bi-circle-fill color-icon"></i></span>Course Code</span></h6>
                    <div class="filler"></div>
                    <span class="tab tab-sm bold-text">0% chance of being granted</span>
                </div>
                <div class="details-container three-column margin-top-md">
                    <div><i class="bi bi-person color-icon"></i> Professor Name</div>
                    <div><i class="bi bi bi-book color-icon"></i> 0 units</div>
                    <div><i class="bi bi bi-door-closed color-icon"></i> 0 students max.</div>
                    <div><i class="bi bi bi-mortarboard color-icon"></i> Offering Unit</div>
                </div>
                <div class="d-flex margin-top-md">
                    <div class="filler"></div>
                    <button class="btn-sm" disabled>REMOVE</button>
                    <button class="btn-sm margin-left-sm" disabled>REDRAW</button>
                </div>
            </div> 
            <div class="course-card view-card">
                <div class="course-header">
                    <h6><span class="bold-text"><span id="i-4"><i class="bi bi-circle-fill color-icon"></i></span>Course Code</span></h6>
                    <div class="filler"></div>
                    <span class="tab tab-sm bold-text">0% chance of being granted</span>
                </div>
                <div class="details-container three-column margin-top-md">
                    <div><i class="bi bi-person color-icon"></i> Professor Name</div>
                    <div><i class="bi bi bi-book color-icon"></i> 0 units</div>
                    <div><i class="bi bi bi-door-closed color-icon"></i> 0 students max.</div>
                    <div><i class="bi bi bi-mortarboard color-icon"></i> Offering Unit</div>
                </div>
                <div class="d-flex margin-top-md">
                    <div class="filler"></div>
                    <button class="btn-sm" disabled>REMOVE</button>
                    <button class="btn-sm margin-left-sm" disabled>REDRAW</button>
                </div>
            </div> 
            <div class="course-card view-card">
                <div class="course-header">
                    <h6><span class="bold-text"><span id="i-5"><i class="bi bi-circle-fill color-icon"></i></span>Course Code</span></h6>
                    <div class="filler"></div>
                    <span class="tab tab-sm bold-text">0% chance of being granted</span>
                </div>
                <div class="details-container three-column margin-top-md">
                    <div><i class="bi bi-person color-icon"></i> Professor Name</div>
                    <div><i class="bi bi bi-book color-icon"></i> 0 units</div>
                    <div><i class="bi bi bi-door-closed color-icon"></i> 0 students max.</div>
                    <div><i class="bi bi bi-mortarboard color-icon"></i> Offering Unit</div>
                </div>
                <div class="d-flex margin-top-md">
                    <div class="filler"></div>
                    <button class="btn-sm" disabled>REMOVE</button>
                    <button class="btn-sm margin-left-sm" disabled>REDRAW</button>
                </div>
            </div> 
            <div class="course-card view-card">
                <div class="course-header">
                    <h6><span class="bold-text"><span id="i-6"><i class="bi bi-circle-fill color-icon"></i></span>Course Code</span></h6>
                    <div class="filler"></div>
                    <span class="tab tab-sm bold-text">0% chance of being granted</span>
                </div>
                <div class="details-container three-column margin-top-md">
                    <div><i class="bi bi-person color-icon"></i> Professor Name</div>
                    <div><i class="bi bi bi-book color-icon"></i> 0 units</div>
                    <div><i class="bi bi bi-door-closed color-icon"></i> 0 students max.</div>
                    <div><i class="bi bi bi-mortarboard color-icon"></i> Offering Unit</div>
                </div>
                <div class="d-flex margin-top-md">
                    <div class="filler"></div>
                    <button class="btn-sm" disabled>REMOVE</button>
                    <button class="btn-sm margin-left-sm" disabled>REDRAW</button>
                </div>
            </div>   
        </div>
        <div></div>
    </div>
    </div>
</div>

{% endblock %}

{% block footer %}

    {% include 'footer.html' %}

{% endblock %}